 body{
   background-image:linear-gradient(rgb(255, 255, 255), rgb(245, 245, 245)) ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}
/*
.form-control{
    background-color:rgba(255, 255, 255, 0.2);
    padding: 22px;
    border: none;
    border-radius: 25px;
}


.single-result{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
} */
.search-box{
    position: relative;
}
.search-btn{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.search-btn{
    background: rgb(161, 123, 123);
    color: #ffffff;
}
.food-img{
    width: 200px;
}
.food-items{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap:30px;
    border-radius: 10px;
    background-color: #e4e4e4;
}