.banner{
    background-image: url(../../red-onion/images/bannerbackground.png);
    height: 500px;
    background-color: antiquewhite;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}
/* .banner-text{
    margin-top: 200px;
} */